<html>

<head>
    <link rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body style="text-align:justify;">
    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Mueva el mouse sobre mí durante unos segundos
            para ver mi título enlazado dinámicamente.
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Ahora me ves</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Mensaje invertido</button>
    </div>

    <div id="app-6">
        <input v-model="message">
        <p>{{ message }}</p>
    </div>

    <div id="app-7">
        <ol>
            <!--
            Ahora proporcionamos a cada todo-item con el objeto todo
            que representa, para que su contenido pueda ser dinámico.
            También necesitamos proporcionar a cada componente con una "clave",
            que vamos a explicar más adelante.
          -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>
    <div id="app-8">
        <p>{{ foo }}</p>
        <!-- esto ya no actualizará `foo`! -->
        <button v-on:click="foo = 'baz'">Cámbialo</button>
      </div>
       <div id="aplicacion">
        <button v-on:click="contador = contador + 1">El contador vale:{{contador}}</button>
    </div>
</body>
<script src="index.js"></script>

</html>