<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="ToDo.css" />
</head>

<body>
    <div id="app">
        <header>{{ title }}</header>
        <div>
            <p>{{ message }}</p>
            <input v-model="nueva" v-on:keypress.enter="addItem" placeholder="Agrega elementos a la lista">
            <button v-on:click="addItem">Agrega a la lista</button>
            <button v-on:click="muestraElementosPapelera">Ver elementos de la papelera</button>

        </div>

        <ul>
            <li v-for="(item, index) in items" v-bind:style="{display: !item.deleted ? '' : 'none' }">
                <input type="checkbox" v-model="item.checked">
                <span :class="item.checked ? 'strikeout' : null">{{ item.text }}</span>
                <button @click="hideItem(item)">x</button>
            </li>
        </ul>   
        <pre>{{ items }}</pre>
    </div>
    <script src="ToDO.js"></script>
</body>


</html>