<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="ToDo.css" />
</head>

<body>
    <div id="app">
        <header>{{ title }}</header>
        <div>
            <p>{{ message }}</p>
            <input v-model="nueva" v-on:keypress.enter="addItem" placeholder="Agrega elementos a la lista">
            <button v-on:click="addItem">Agrega a la lista</button>
            <button v-on:click="añadirAPapelera">Añade un elemento a la papelera</button>

        </div>

        <ul>
            <li v-for="(item, index) in items">
                <input type="checkbox">{{ item.checked }}
                <span>{{ item.text }}</span>
                <!-- <button v-on:click="borrarItem">x</button> -->
                <!-- <input type="checkbox" :id="index" v-model="checked[index]">
                    <button  v-on:click="deleteItem(index)">X</button> -->
                </li>
            </ul>
            <pre>{{ items }}</pre>  
    </div>
    <script src="ToDO.js"></script>
</body>


</html>